@import "root";

$burger__color: $white;
$nb_items: 5;

.bar {
  position: absolute;
  top: 1.8em;
  left: 1em;
  width: 36px;
  height: 36px;
  z-index: 5;
  cursor: pointer;

  img {
    fill: $burger__color;
    stroke: $burger__color;
    cursor: pointer;
  }
}

.menu-collapsed {
  transition: all .25s;
  position: fixed;

  ul {
    transition: all 0s;
    position: fixed;
    left: -9000px;
  }
}

.menu-expanded {
  transition: all .25s;
  text-align: center;
  line-height: calc(calc(100vh - #{$nb_items} * 10px) / #{$nb_items});
  height: 100%;
  width: 100%;
  border-radius: 0;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 4;

  ul {
    margin: 54px 0 0 0;
    transition: all 0s;
    position: relative;
    left: 0;
    z-index: 2;
    padding: 0;

    li {
      list-style-type: none;
    }
  }

  a {
    transition: all .15s;
    text-decoration: none;
    font-size: 2em;
    padding: 5px;
    color: #fff;
    display: block;
    text-transform: uppercase;

    &:hover {
      background-color: rgba(white, .8);
      transition: all .15s;
      letter-spacing: 2px;
      color: #333;
      border: 1px solid rgba(255, 255, 255, .15);
    }
  }
}