@import "root";

.edit {
  height: $container__height_mini_header !important;
}

.container {
  justify-content: center;
  align-items: center;

  form {
    display: flex;
    flex-direction: column;
    gap: 1em;

    .consultation__form {
      display: flex;

      .consultation__container, .right {
        text-align: center;
        height: 100%;
        width: 50%;
      }

      .consultation__container {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 2em;

        .problem {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 0.3em;

          & > textarea {
            border-radius: 0;
            border: 2px solid $black;
            width: 100%;
            padding: .6em;
            margin: auto;
            font-family: inherit;
            font-size: inherit;
            line-height: inherit;
          }
        }
      }

      .right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 2em;

        .calendar__container {
          display: flex;
          flex-direction: column;
        }

        .dom__cab {
          display: flex;
          align-items: center;
          flex-direction: column;

          .switch {
            display: flex;
            align-items: center;
            gap: 1em;

            p {
              font-size: 1em;
            }

            input[type=checkbox] {
              height: 0;
              width: 0;
              display: none;

              &:checked {
                & + label {
                  background: $grey-5;

                  &:after {
                    left: calc(100% - 5px);
                    transform: translateX(-100%);
                  }
                }
              }
            }

            label {
              cursor: pointer;
              text-indent: -9999px;
              width: 60px;
              height: 30px;
              background: $grey-5;
              display: block;
              border-radius: 100px;
              position: relative;

              &:after {
                content: '';
                position: absolute;
                top: 5px;
                left: 5px;
                width: 20px;
                height: 20px;
                background: $green;
                border-radius: 90px;
                transition: 0.3s;
              }

              &:active:after {
                width: 30px;
              }
            }
          }
        }
      }
    }

    .buttons {
      display: flex;
      justify-content: center;
      gap: 1.2em;

      button {
        cursor: pointer;
        color: $white;
        border: none;
        border-radius: 5px;
        padding: .6em;
        font-size: 1em;

        &.submit {
          background: $green;
        }

        &.cancel {
          background: $red;
        }

        a {
          color: $white;
          text-decoration: none;
        }
      }
    }
  }
}

.animal, .consultation, .problem, .times {
  margin: 0 auto 2em auto;
  width: 100%;
  display: flex;
  flex-direction: column;

  select {
    border: none;
    outline: none;
    border-bottom: 2px solid $black;
    padding: .6em;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
}