@import "root";

$header__height: 95px;
* {
  overflow: hidden;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  header {
    background: $green;
    height: $header__height;
    border-bottom: 2px solid #54664a;
    display: flex;
    justify-content: center;

    .brand {
      margin: auto 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $white;
      text-decoration: none;
      text-transform: uppercase;
      gap: 0.5em;

      p {
        margin: 0;
      }
    }
  }

  .notification {
    position: absolute;
    padding: .5em;
    word-break: break-word;
    max-width: 20em;
    max-height: 4em;
    border-radius: 6px;
    top: calc(#{$header__height} + 1em);
    right: 1em;
    animation: slidein .5s, slideout .5s;

    @keyframes slidein {
      from {
        right: -40em;
      }

      to {
        right: 1em;
      }
    }

    @keyframes slideout {
      from {
        right: 1em;
      }

      to {
        right: -40em;
      }
    }
  }

  .success {
    background: $frost-2;
    border: 1px solid $frost-4;
  }

  .home {
    color: $light-grey;
    height: calc(100vh - #{$header__height});
    background-image: url("/assets/background.png");
    background-size: cover;
    background-position: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .e404 {
    padding-top: 5em;
    align-items: flex-start;
  }

  .container {
    overflow: auto !important;
  }

  .titles {
    display: flex;
    flex-direction: column;
    gap: 5em;

    h1, h4 {
      text-align: center;
      margin: 0;
    }
  }
}
