@import "root";

.container {
  height: $container__height_mini_header !important;

  .my__consultations {
    width: 70vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      display: flex;
      align-items: center;
      gap: 1em;

      a {
        text-decoration: none;

        button {
          display: flex;
          align-items: center;
          gap: 0.4em;
          cursor: pointer;
          color: $white;
          border: none;
          background: $dark-green;
          border-radius: 5px;
          padding: .6em;
          font-size: 1em;

          svg {
            font-weight: bold;
            height: 20px;
            width: 20px;
          }
        }
      }
    }

    .description {
      .item {
        display: flex;
        gap: 1em;
      }
    }

    .list__consultations {
      .consultation {
        display: flex;
        flex-direction: row;
        gap: .8em;
        align-items: center;
        margin: .5em 0;

        a {
          margin: 0;
        }

        .button {
          color: $white;
          border: none;
          border-radius: 5px;
          padding: .6em;
          font-size: 1em;
          cursor: pointer;

          &.edit {
            background: $green;
          }

          &.delete {
            background: $red;
          }

          &:disabled {
            cursor: auto;
            background: $grey-6;
          }
        }
      }
    }
  }

}