@import "../root";

.container {
  height: $container__height_mini_header !important;
  flex-direction: column;
  gap: 1em;

  h1 {
    text-align: center;
    margin-top: 0;
  }
}

.table {
  max-height: 50vh;
  overflow: auto;

  table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;

    td, th {
      border: 1px solid $dark-green;
      padding: 8px;
    }

    td {
      form {
        button {
          cursor: pointer;
          color: $grey-1;
          border: none;
          border-radius: 5px;
          padding: .4em;
          font-size: 1em;
          background: $grey-6;
        }

        .admin {
          background: $purple;
        }
      }
    }

    th {
      text-transform: uppercase;
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: $green;
      color: white;
    }

    tr {
      &:nth-child(even) {
        background-color: #f2f2f2;
      }

      &:hover {
        background-color: #ddd;
      }
    }
  }
}